# Instructions:
#
# Setup:
#
#   1. ensure in npm account settings you have 2FA setup for authorization only or disabled
#   2. in npm "Access Tokens" create a new token for read and publish
#   3. in github repository "Settings" -> "Secrets" add that npm token with name "NPM_TOKEN" (as used in the action file)
#
# Create a New Release:
#
#   1. commit (and maybe push) all your changes and ensure action "unit-tests" succeeds
#   2. create a new git version tag: `yarn version --patch` (see yarn help version for more options)
#   3. push new tag to github: `git push --follow-tags`

name: npm-publish

on:
  push:
    tags:
      - 'v*'

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      # using matrix with just one OS and node version does not make much sense
      # but that way we can copy and paste the cache steps from other actions
      # using more oses and/or node version in their matrix
      matrix:
        os: [ubuntu-latest]
        node: [12]

    name: ${{ matrix.os }} Node ${{ matrix.node }} cache

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2.1.1
        with:
          node-version: ${{ matrix.node }}
          registry-url: https://registry.npmjs.org/

      - name: Get yarn cache directory
        id: yarn-cache
        run: |
          echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: cache
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-node-${{ matrix.node }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node }}-
            ${{ runner.os }}-node-

      - run: yarn install --frozen-lockfile

      - run: yarn run lint

      - run: yarn run test

      - run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
