name: unit-tests

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node: [10, 12, 14]

    name: ${{ matrix.os }} Node ${{ matrix.node }} cache

    env:
      OS: ${{ matrix.os }}
      NODE: ${{ matrix.node }}

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2.1.3
        with:
          node-version: ${{ matrix.node }}

      - name: Get yarn cache directory
        id: yarn-cache
        run: |
          echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: cache
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-node-${{ matrix.node }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node }}-
            ${{ runner.os }}-node-

      - run: yarn install --frozen-lockfile

      - run: yarn run lint

      - run: yarn run test
